.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    text-align: center;
    background-image: url('../../Assets/frontend.jpeg'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  
  .gradient-text {
    font-weight: 900; /* Increased boldness */
    font-size: 3em; /* Increased font size */
    text-transform: uppercase; /* UPPERCASE text */
    background: linear-gradient(to right, #6e45e2, #88d3ce); /* Gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
  }
  
  @keyframes typing {
    0%, 100% { width: 0; }
    50% { width: 100%; }
  }
  
  @keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em; /* Adjust spacing between letters */
    animation: typing 6s steps(14, end) infinite, blink-caret 1s step-end infinite;
  }
  
  .subtitle {
    margin-top: 20px;
    font-size: 1.2em;
    color: #edf5f5; /* Subtle text color for the subtitle */
    opacity: 0.6;
  }
  