.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns with equal width */
  gap:50px 10px; /* Space between grid items */
  /* padding: 60px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 5%;
  /* border: 2px solid white; */
  border-radius: 25px;
  width: 90%;
  margin-left: 1%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #53364D;

}

.button-container button {
  /* padding: 15px 20px;  */
  font-size: 1.2rem;
  font-weight: 600;
  width: 70%;
  height: 100%;
  margin-left: 10%;
  color: #fff;
  background: linear-gradient(to right, #6e45e2, #88d3ce); /* Gradient effect */
  border: none;
  border-radius: 10px; /* Adjust for rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin-bottom: 10%;
}

/* Additional styles for hover effects, focus, etc., if needed */
.button-container button:hover {
 opacity: 0.6;
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.button-container button:nth-child(1){
 
}